.wizard_container {
    background-color: #AFD4C0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header_container {
    height: 55px;
    display: flex;
    flex-direction: row;
    background-color: #519872;
    width: 100%;
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 55%;
}

.house-icon {
    padding: 10px 0px 8px 18px;
    height: 34px;
    width: 34px;
    justify-content: flex-start;
}

.houser-bold {
    font-weight: bold;
    font-size: 30px;
    padding: 10px 7px 0px 20px;
    color: white;
}

.dashboard {
    font-size: 30px;
    color: white;
    padding-top: 10px;
}

.wizard_step_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 236, 231);
    width: 60%;
    align-self: center;
    height: 700px;
}

.wizard_subheader-container {
    height: 30px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.wizard_stepHighlight-container {
    font-size: 20px;
}

.highlight-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 15px 0px;
}

.step_body-Container {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.step2_input-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
}