.wizard_container {
    background-color: #AFD4C0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header_container {
    height: 55px;
    display: flex;
    background-color: #519872;
    width: 100%;
}

.house-icon {
    padding: 10px 0px 0px 10px;
    height: 32px;
    width: 32px;
    justify-content: flex-start;
}

.houser-bold {
    font-weight: bold;
    font-size: 30px;
    padding: 0px 7px 0px 20px;
    color: white;
}

.dashboard {
    font-size: 30px;
    color: white;
}

.wizard_step_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 236, 224);
    width: 60%;
    align-self: center;
    height: 700px;
}

.wizard_subheader-container {
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}